html {
    font-size: 24px;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding: 10px 0;
}

nav {
    width: 100%;
    background-color: rgb(38, 38, 38);
    display: inline-block;
}

#navbar {
    color: white;
    font-size: 1.2em;
    margin-right: 30px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

#home {
    color: white;
}

#link {
    color: rgb(159, 159, 159);
}



select {
    background-color: rgb(38, 38, 38);
    border: none;
    font-size: 1em;
    color: rgb(159, 159, 159);
    font-family: inherit;  
    
}

#disabled {
    color: rgb(93, 93, 104);
}

#search-bar {
    font-size: inherit;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;    
}

#search-button {
    font-size: inherit;
    padding: 10px 15px;
    background-color: rgb(38, 38, 38);
    color: rgb(37, 106, 37);
    border: 2px solid rgb(37, 106, 37);
    border-radius: 5px;
    margin: 0 0 0 5px;
    
}

#right-element {
   
    float: right;
}