.container {
    display: grid;
    grid-template-areas:
    "result result result result"
    "plus minus product division"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero-n point ac equal";
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: 55px repeat(5, 65px);
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.plus, .minus, .product, .division {
    background-color: #d2dde5;
    
}

.result {
    grid-area: result;
    background-color: #414850;
    color: white;
    border: 0.75px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.zero-n, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .point, .ac {
    background-color: #e6edef;
}

.plus {
    grid-area: plus;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-top: none;
    box-shadow: -5px 0 3px -3px #d4d5d4;
}

.minus {
    grid-area: minus;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.product {
    grid-area: product;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.division{
    grid-area: division;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: 5px 0 3px -3px #d4d5d4;
}

.zero-n {
    grid-area: zero-n;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 0 3px -3px #d4d5d4, 0 5px 3px -3px #d4d5d4;
}

.one {
    grid-area: one;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    box-shadow: -5px 0 3px -3px #d4d5d4;  
}

.two {
    grid-area: two;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.three {
    grid-area: three;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.four {
    grid-area: four;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    box-shadow: -5px 0 3px -3px #d4d5d4;
}

.five {
    grid-area: five;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.six {
    grid-area: six;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.seven {
    grid-area: seven;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    box-shadow: -5px 0 3px -3px #d4d5d4;
}

.eight {
    grid-area: eight;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.nine {
    grid-area: nine;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
}

.point {
    grid-area: point;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    box-shadow: 0 5px 3px -3px #d4d5d4;
}

.ac {
    grid-area: ac;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    box-shadow: 0 5px 3px -3px #d4d5d4;
}

.equal {
    grid-area: equal;
    background-color: #f67076;
    border: 2px solid #8c9baa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 3px -3px #d4d5d4, 5px 0 3px -3px #d4d5d4;
}

span {
    position: relative;
    left: 155px;
}