body {
  width: 60em;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid:
  "green green green"
  "yellow red blue"
  "orange orange blue";
  gap: 2em;
}

section {
  padding: 2em;
}

#green {
  background-color: #8ffda7;
  grid-area: green;
}

#orange {
  background-color: #ffc788;
  grid-area: orange;
}

#yellow {
  background-color: #ffff92;
  grid-area: yellow;
}

#red {
  background-color: #ff919c;
  grid-area: red;
}

#blue {
  background-color: #98d2ff;
  grid-area: blue;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}

.box1 {
  display: grid;
  grid: 
  "one two"
  "three four";
}

.box2 {
  display: grid;
  grid: 
  "letter-a letter-b"
  "letter-c letter-d";  
}

#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}

#letter-a {grid-area: letter-a;}
#letter-b {grid-area: letter-b;}
#letter-c {grid-area: letter-c;}
#letter-d {grid-area: letter-d;}
