.card1 {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 70px 233px 40px 150px; 
    grid-template-areas:
    "header1"
    "image1"
    "symbols"
    "bottom_";  
    width: 300px;
    margin-bottom: 30px;
    grid-area: card1;
}

.card2 {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 70px 233px 40px 150px; 
    grid-template-areas:
    "header2"
    "image2"
    "symbols"
    "bottom_";  
    width: 300px;
    margin-bottom: 30px;
    grid-area: card2;
}

.card3 {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 70px 233px 40px 150px; 
    grid-template-areas:
    "header3"
    "image3"
    "symbols"
    "bottom_";  
    width: 300px;
    grid-area: card3;
}

.bold {
    font-weight: bold;
}

h1 {
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;  
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}


/* || Strucure of the header  */
.circle {
    /* grid-area: circle1; */
    height: 55px;
    width: 55px;
    margin:0.5em;
    background-color: white;
    border-radius: 50%;
    
}


.center1,
.center2,
.center3 {
    /* grid-area: center1; */ 
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 5px;
    background-color:black;
    border: 1px solid black;
    border-radius: 50%;    
}

.dots {
    /* grid-area: dots1;  */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
}

/* || Strucure of the card  */
.header1,
.header2,
.header3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 12fr 1fr;
    background-color: #b1b0b1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.image1 {
    grid-area: image1;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.image2 {
    grid-area: image2;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image3 {
    grid-area: image3;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.symbols {
    grid-area: symbols;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    background-color: #dedfdf;
}

.bottom {
    grid-area: bottom_;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: #dedfdf;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
   
}

.last {
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    
}

.like {
    margin-right: 10px;
    margin-left: 15px;
}

.like:hover {
    color:#e04a24;
    transition: color 0.75s ease;
}

.comment:hover {
    color:#e024d6;
    transition: color 0.75s ease;
}

     
@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1050px) and (min-width: 700px) {
    body {
        display: grid;
        gap: 30px;
        grid-template-areas:
        "card1 card2"
        "card3 .";
    }
}

@media (width >= 1051px) {
    body {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 350px);
        grid-template-areas:
        "card1 card2 card3";
        justify-content: center;
    }   
}